@import url('https://fonts.googleapis.com/css2?family=Mynerve&display=swap');

* {
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  color: white;
  font-family: 'Mynerve';
}

body {
  background: linear-gradient(179.2deg, rgb(34, 34, 34) 0%, rgb(8, 0, 153) 29.7%, rgb(118, 6, 166) 63.4%, rgba(233, 0, 64, 0.58) 100.1%);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

.container {
  display: flex;
  width: 90%;
  margin: auto;
  justify-content: space-between;
}

.left-column,
.right-column {
  width: 45%;
}

.left-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.refresh-btn {
  height: 25px;
}

.score-list {
  width: 100%;
  border: 1px solid black;
  margin-top: -0.1px;
}

header, h2 {
  color: rgb(160, 131, 188);
}

header {
  font-size: 40px;
  margin-left: 2%;
}

h2 {
  font-size: 25px;
}

form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

li {
  display: flex;
  width: 90%;
  margin: auto;
  justify-content: space-between;
  text-indent: -40px;
  font-size: 20px;
  margin-bottom: 3%;
}

input {
  width: 100%;
  margin-bottom: 7%;
}

input::placeholder {
  color: rgb(141, 116, 164);
}

button {
  color: blueviolet;
  cursor: pointer;
}

.submit-btn {
  align-self: flex-end;
}

@media screen and (max-width: 768px) {
  .container {
    display: flex;
    flex-direction: column-reverse;
  }

  .left-column,
  .right-column {
    width: 100%;
  }

  .submit-btn {
    align-self: flex-start;
  }
}
